body {
    text-align: center;
    background-color: rgb(92, 92, 224);

}

.game {
    min-height: 100px;
    display: flex;
    margin-top: 20px;

}

.table {
    width: 600px;
    height: 500px;
    background-color: darkolivegreen;
    margin: 20px auto;
    background-image: url(img/table.jpg);
    background-size: cover;
    border-radius: 150px;
    position: relative;
}

.cup {
    position: absolute;
    left: 0;
    top: 0;
}

.cup-1 {
    left: 105px;
    top: 150px;
}

.cup-2 {
    left: 345px;
    top: 150px;
}

.game-panel {
    background-color: darkgray;
    min-height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
}
.animation-1{
    animation: name-of-animation 2s infinite;
}
@keyframes name-of-animation {
    0%    { left: 80px; }
    50%   { left: 280px; }
    100%  { left: 80px; }
  }
  .animation-2{
    animation: name-of-animation-2 2s infinite;
}
@keyframes name-of-animation-2 {
    0%    { left: 380px; }
    50%   { left: 120px; }
    100%  { left: 380px; }
  }
